<div class="flex justify-between items-center">
  <div class="flex items-center">
    <img src="hydraLogo.png" alt="hydraLogo" class="w-24 mr-3" />
    <img src="logoText.png" alt="logoText" class="h-12" />
  </div>
  <div>
    @for (link of navLinks; track link ) {
    <a href="#" class="text-slate-50 px-3 text-xs font-bold uppercase">{{
      link
    }}</a>
    }
  </div>
  <div>
    <button
      class="border-2 rounded-3xl px-6 py-2 text-slate-50 mr-6 font-bold uppercase text-xs"
    >
      Contact Us
    </button>
    <button
      class="rounded-3xl px-6 py-3 text-gray-700 font-bold uppercase text-xs bg-custom-gradient"
    >
      Join Hydra
    </button>
  </div>
</div>
