.tech-main {
  background: linear-gradient(rgba(48, 44, 66, 0.8), rgba(48, 44, 66, 0.8)),
    url("../../../../public/tech/tech-main.jpg");
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
