<div>
  <div
    class="tech-main text-center text-3xl text-slate-50 rounded-full py-20 max-lg:mb-16"
  >
    <h3 class="font-bold">TECHNOLOGIES & HARDWARE</h3>
    <h3>USED BY HYDRA VR.</h3>
  </div>
  <div class="max-lg:hidden flex items-center justify-center mt-[-35px]">
    <div class="rounded-full border-[0.5rem] border-black border-opacity-40">
      <button
        class="flex items-center justify-center rounded-full bg-custom-linear h-[60px] w-[60px]"
      >
        <img src="chevron.png" alt="" />
      </button>
    </div>
  </div>
  <div class="max-lg:hidden flex items-center justify-between flex-wrap">
    @for (company of companies; track company) {
    <img [src]="company" [alt]="company" />
    }
  </div>
  <app-swiper-container [isCenteredNav]="true">
    @for (company of companies; track company) {
    <swiper-slide>
      <div class="flex items-center justify-between flex-wrap">
        <img [src]="company" [alt]="company" class="h-[150px]" />
      </div>
    </swiper-slide>
    }
  </app-swiper-container>
</div>
