<div>
  <app-section-header
    [mainText]="'How We Build'"
    [secondaryText]="'With Hydra VR?'"
  ></app-section-header>

  <div class="flex justify-between max-lg:hidden">
    @for (process of processes; track process;let index = $index) {
    <app-process-card
      [title]="process"
      [cardNumber]="index + 1"
    ></app-process-card>
    }
  </div>

  <app-swiper-container>
    @for (process of processes; track process;let index = $index) {
    <swiper-slide>
      <app-process-card
        [title]="process"
        [cardNumber]="index + 1"
      ></app-process-card
    ></swiper-slide>
    }
  </app-swiper-container>
</div>
