<div
  class="text-slate-50 text-4xl text-center bg-custom-radial p-20 rounded-[60px]"
>
  <h1 class="uppercase font-bold">Join Hydra</h1>
  <h2>Let’s Build Your VR Experience</h2>

  <div class="flex flex-row">
    <input class="basis-1/2 m-2" type="text" />
    <input class="basis-1/2 m-2" type="text" />
  </div>

  <div class="flex flex-row">
    <input class="basis-1/2 m-2" type="text" />
    <input class="basis-1/2 m-2" type="text" />
  </div>

  <div class="flex flex-row">
    <input class="w-full m-2" type="text" />
  </div>

  <div class="flex flex-row">
    <textarea class="w-full m-2" name="" id=""></textarea>
  </div>
</div>
