<div class="text-center bg-custom-radial p-20 max-lg:p-5 rounded-[60px]">
  <div
    class="text-slate-50 text-4xl flex flex-col items-center max-lg:text-2xl"
  >
    <h3 class="uppercase font-bold w-max pb-5">Join Hydra</h3>
    <div class="h-[1px] w-96 bg-underline-form"></div>
    <h3 class="font-light mt-4 mb-8">Let’s Build Your VR Experience</h3>
  </div>
  <div class="text-slate-50 text-sm">
    <div class="flex flex-row max-lg:flex-col">
      <input
        class="basis-1/2 m-2 rounded-full p-4 bg-transparent border-2 outline-none"
        type="text"
        placeholder="First Name"
      />
      <input
        class="basis-1/2 m-2 rounded-full p-4 bg-transparent border-2 outline-none"
        type="text"
        placeholder="Last Name"
      />
    </div>
    <div class="flex flex-row max-lg:flex-col">
      <input
        class="basis-1/2 m-2 rounded-full p-4 bg-transparent border-2 outline-none"
        type="text"
        placeholder="Email"
      />
      <input
        class="basis-1/2 m-2 rounded-full p-4 bg-transparent border-2 outline-none"
        type="text"
        placeholder="Phone Number"
      />
    </div>
    <div class="flex flex-row">
      <input
        class="w-full m-2 rounded-full p-4 bg-transparent border-2 outline-none"
        type="text"
        placeholder="Subject"
      />
    </div>
    <div class="flex flex-row">
      <textarea
        class="w-full m-2 rounded-[25px] bg-transparent border-2 p-4 outline-none"
        rows="6"
        placeholder="Tell Us Something.."
        name=""
        id=""
      ></textarea>
    </div>
    <button
      class="rounded-3xl px-10 py-4 text-gray-700 font-bold uppercase text-xs bg-custom-linear mt-9"
    >
      Send to Hydra
    </button>
  </div>
</div>
