<div class="hero">
  <app-navigation></app-navigation>
  <div class="flex justify-between items-center mt-36 mb-20">
    <div>
      <div class="text-slate-50 mb-10">
        <div class="leading-snug text-5xl font-bold mb-6">
          <h1>
            <span class="custom-text-gradient-1">Dive</span> Into The Depths
          </h1>
          <h2>
            Of <span class="custom-text-gradient-2">Virtual Reality</span>
          </h2>
        </div>
        <p class="max-w-[30rem] [word-spacing: 2px] leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore nisl tincidunt eget.
          Lectus mauris eros in vitae .
        </p>
      </div>
      <div class="flex">
        <button
          class="rounded-3xl px-6 py-3 text-gray-700 font-bold uppercase text-xs bg-custom-gradient-btn mr-10"
        >
          Build Your World
        </button>
        <img src="arrow.svg" alt="arrow" />
      </div>
    </div>
    <img
      class="rounded-tl-[7rem] rounded-tr-[7rem] rounded-br-[7rem] rounded-bl-[16rem] border-[1rem] border-black border-opacity-10"
      src="hero-main.png"
      alt="hero"
    />
  </div>
  <app-hero-contacts></app-hero-contacts>
</div>
