<div class="mt-5">
  <app-navigation></app-navigation>

  <div>
    <div>
      <div class="text-slate-50 mb-10">
        <div class="leading-snug text-5xl font-bold mb-6">
          <h1 class="">
            <span class="custom-text-gradient-1">Dive</span> Into The Depths
          </h1>
          <h1 class="">
            Of <span class="custom-text-gradient-2">Virtual Reality</span>
          </h1>
        </div>

        <p class="max-w-[30rem] [word-spacing: 2px] leading-relaxed">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore nisl tincidunt eget.
          Lectus mauris eros in vitae .
        </p>
      </div>

      <div class="flex">
        <button
          class="rounded-2xl px-6 py-3 text-gray-700 font-bold uppercase text-xs bg-custom-gradient-nav-btn mr-10"
        >
          Build Your World
        </button>

        <img src="arrow.svg" alt="arrow" />
      </div>
    </div>

    <div>cia bus foto</div>
  </div>
</div>
