<div>
  <div class="flex flex-row items-stretch mb-10 justify-between">
    <div class="flex basis-2/12 items-center justify-start">
      <img src="hydraLogo.png" alt="hydra" />
    </div>

    <div class="flex basis-6/12 justify-center">
      <div class="text-slate-50 flex font-bold uppercase">
        <div class="w-[4px] bg-vertical-line"></div>
        <div class="flex flex-col px-16">
          @for (link of links; track link) {
          <a href="" class="mb-2">{{ link }}</a>
          }
        </div>
      </div>

      <div class="w-[4px] bg-vertical-line"></div>

      <div class="text-slate-50 flex font-bold uppercase">
        <div class="flex flex-col px-16">
          @for (doc of docs; track doc) {
          <a href="" class="mb-2">{{ doc }}</a>
          }
        </div>
        <div class="w-[4px] bg-vertical-line"></div>
      </div>
    </div>

    <div class="basis-4/12 flex flex-col pl-6 justify-end">
      <span class="mb-8 text-slate-50 font-bold uppercase"
        >Socialize with hydra</span
      >
      <div class="flex justify-between">
        @for (icon of icons; track icon) {
        <a href="">
          <img [src]="icon.icon" alt="" />
        </a>
        }
      </div>
      <button
        class="rounded-3xl px-10 w-max py-3 text-gray-700 font-bold uppercase text-xs bg-custom-gradient mt-9"
      >
        Build your world
      </button>
    </div>
  </div>

  <div class="h-[1px] bg-underline-footer"></div>

  <div
    class="flex flex-col items-center justify-center pt-8 font-bold text-slate-50"
  >
    <span class="mb-5">
      2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED
    </span>
    <span>Implemented by: Evaldas Pocius</span>
  </div>
</div>
