<div>
  <div class="flex text-slate-50 mb-20">
    <div class="basis-1/2">
      <div class="text-4xl uppercase">
        <h3 class="font-bold">Introduction</h3>
        <div class="flex items-center">
          <h3 class="mr-5">To Hydra VR</h3>
          <img
            class="h-[60px]"
            src="introduction-arrow.svg"
            alt="introduction-arrow"
          />
        </div>
      </div>
    </div>

    <div class="basis-1/2">
      <p>
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
        Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet
        mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
        sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna
        fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
  </div>

  <div class="flex text-slate-50">
    <div class="basis-1/2">
      <img class="pr-10" src="introduction-main.png" alt="introduction-main" />
    </div>

    <div class="basis-1/2 mt-20">
      <div class="text-4xl mb-10 uppercase">
        <h3 class="font-bold">About</h3>
        <h3 class="mr-5">Hydra VR</h3>
      </div>

      <p class="mb-6">
        Eget mi proin sed libero enim sed faucibus turpis. Nisl rhoncus mattis
        rhoncus urna neque viverra justo. Vivamus at augue eget arcu dictum.
        Ultrices gravida dictum fusce ut placerat orci. Aenean et tortor at
        risus viverra adipiscing at in. Mattis aliquam faucibus purus in massa.
        Est placerat in egestas erat imperdiet sed. Consequat semper viverra nam
        libero justo laoreet sit amet. Aliquam etiam erat velit scelerisque in
        dictum non consectetur a. Laoreet sit amet cursus sit amet. Vel eros
        donec ac odio tempor orci dapibus. Sem nulla pha retra diam sit amet
        nisl suscipit adipiscing bibendum. Leo a diam sollicitudi n tempor.
      </p>

      <button
        class="rounded-3xl px-8 py-4 text-gray-700 font-bold uppercase text-xs bg-custom-linear mr-10"
      >
        LET’S GET IN TOUCH
      </button>
    </div>
  </div>
</div>
