.main-wrapper {
  background-image: url("../../public/union-right.svg"),
    url("../../public/left.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-x: 95%, left;
  background-position-y: top, 50%;
  background-color: #343045;
}
