<div
  class="flex flex-row justify-center"
  [ngClass]="isCenteredNav() ? 'items-center' : 'items-end'"
>
  <div
    *ngIf="!isHiddenNav()"
    class="h-max rounded-full border-[0.5rem] border-black border-opacity-10 max-sm:mx-[-30px] z-10"
  >
    <button
      class="flex items-center justify-center rounded-full rotate-90 bg-custom-linear h-[40px] w-[40px]"
      (click)="slidePrev()"
    >
      <img class="h-[10px]" src="chevron.png" alt="" />
    </button>
  </div>

  <swiper-container
    #swiperContainer
    slides-per-view="1"
    loop="true"
    speed="500"
    autoplay-delay="5000"
  >
    <ng-content></ng-content>
  </swiper-container>

  <div
    *ngIf="!isHiddenNav()"
    class="h-max rounded-full border-[0.5rem] border-black border-opacity-10 max-sm:mx-[-30px] z-10"
  >
    <button
      class="flex items-center justify-center rounded-full -rotate-90 bg-custom-linear h-[40px] w-[40px]"
      (click)="slideNext()"
    >
      <img class="h-[10px]" src="chevron.png" alt="" />
    </button>
  </div>
</div>
