<div>
  <div class="flex text-slate-50 lg:mb-20 max-lg:mb-6 max-lg:justify-center">
    <div class="lg:basis-3/6">
      <app-section-header
        [mainText]="'Why Build'"
        [secondaryText]="'With Hydra?'"
      ></app-section-header>
    </div>
    <div class="max-lg:hidden basis-3/6">
      <p>
        Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
        Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet
        mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
        sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna
        fringilla urna porttitor rhoncus vitae.
      </p>
    </div>
  </div>

  <div class="max-lg:hidden flex justify-around flex-wrap">
    @for (service of availableServices; track service.name ) {
    <app-service-card [service]="service"></app-service-card>
    }
  </div>

  <app-swiper-container [isCenteredNav]="true">
    @for (service of availableServices; track service.name ) {
    <swiper-slide class="flex items-center justify-center">
      <app-service-card [service]="service"></app-service-card>
    </swiper-slide>
    }
  </app-swiper-container>
</div>
