<div>
  <app-section-header
    [mainText]="'Why Build'"
    [secondaryText]="'With Hydra?'"
  ></app-section-header>

  <div class="max-lg:hidden flex justify-around flex-wrap">
    @for (service of availableServices; track service.name ) {
    <app-service-card [service]="service"></app-service-card>
    }
  </div>

  <div class="lg:hidden">
    <app-swiper-container [isCenteredNav]="true">
      @for (service of availableServices; track service.name ) {
      <swiper-slide class="flex items-center justify-center">
        <app-service-card [service]="service"></app-service-card>
      </swiper-slide>
      }
    </app-swiper-container>
  </div>
</div>
