<div
  class="flex flex-col items-center p-5 w-[300px] text-slate-50 bg-custom-radial rounded-[2rem] m-2"
>
  <img
    class="rounded-full border-[0.5rem] border-black border-opacity-10"
    [src]="service.pictureSrc"
    alt=""
  />
  <h4
    class="text-center uppercase font-bold mt-5 pb-3 border-b text-2xl w-max border-[#C0B7E8]"
  >
    {{ service.name }}
  </h4>
  <p class="text-xs mt-5">
    Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor
    rhoncus libero justo laoreet sit amet vitae.
  </p>

  <button
    class="rounded-3xl px-6 py-3 text-gray-700 font-bold uppercase text-xs bg-custom-linear mt-9"
  >
    Try it Now
  </button>
</div>
