<div class="flex text-slate-50 lg:mb-20 max-lg:mb-6 max-lg:justify-center">
  <div class="lg:basis-3/6">
    <div class="text-4xl max-lg:text-2xl uppercase max-lg:text-center">
      <h3 class="font-bold max-lg:mb-5">{{ mainText() }}</h3>
      <div class="flex items-center max-lg:justify-center">
        <h3 class="font-light lg:mr-5">{{ secondaryText() }}</h3>
        <img
          class="max-lg:hidden h-[60px]"
          src="introduction-arrow.svg"
          alt="introduction-arrow"
        />
      </div>
    </div>
  </div>
  <div class="max-lg:hidden basis-3/6">
    <p>
      Vitae sapien pellentesque habitant morbi tristique senectus et netus et.
      Feugiat nibh sed pulvinar proin gravida hendrerit lectus. Mi sit amet
      mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
      sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna
      fringilla urna porttitor rhoncus vitae.
    </p>
  </div>
</div>
