<div class="w-[220px] flex flex-col items-center justify-center">
  <div
    class="rounded-full border-[1rem] border-black border-opacity-10 w-max mb-5"
  >
    <div
      class="rounded-full bg-custom-linear w-[160px] h-[160px] flex justify-center items-center"
    >
      <span class="text-6xl font-bold text-[#343045]">0{{ cardNumber }}</span>
    </div>
  </div>

  <div class="flex items-start">
    <img src="tech/arrow.svg" alt="arrow" />
    <span class="text-2xl font-bold text-slate-50 ml-2">{{ title }}</span>
  </div>
</div>
